In [10]:
import pandas as pd

# 버전차이로 글자 깨지는 경우
# data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949')
data = pd.read_csv("mysql2csv.csv", header=None)
print(data)

   0           1           2     3    4                    5
0  1         NaN         NaN     0  NaN  2022-02-14 17:11:49
1  2          dd          ds  1000    d  2022-02-14 17:14:23
2  3  제목을 작성하세요.  본문을 작성하세요.  1199   너님  2022-03-14 16:41:38
3  4  제목을 작성하세요.  본문을 작성하세요.   400   너님  2022-03-14 17:20:53

In [26]:
data.columns = ["product_no", "title", "description", "price", "writer", "reg_date"]

In [27]:
data

   product_no       title description  price writer            reg_date
0           1                              0        2022-02-14 17:11:49
1           2          dd          ds   1000      d 2022-02-14 17:14:23
2           3  제목을 작성하세요.  본문을 작성하세요.   1199     너님 2022-03-14 16:41:38
3           4  제목을 작성하세요.  본문을 작성하세요.    400     너님 2022-03-14 17:20:53

In [7]:
import pymysql
import datetime
import pickle

#어제보다 더 쉬운방법으로 db가져오기
MYSQL_USER_DATA_SAVED_FILE = "mysql/userinfo"
f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

In [29]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'non_jpa_db'
)

In [30]:
sql = """
    select * from product
"""

data = pd.read_sql_query(sql, db)
data.to_csv(r"db2csv.csv", index=False, encoding='utf-8-sig')

/Users/ljieun/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [24]:
!ls

220512.ipynb                 test_40.jpg
220513.ipynb                 test_41.jpg
220516 thread, pymysql.ipynb test_42.jpg
220517.ipynb                 test_43.jpg
220519.ipynb                 test_44.jpg
Untitled.ipynb               test_45.jpg
colors                       test_46.jpg
db2csv.csv                   test_47.jpg
mysql                        test_48.jpg
mysql2csv.csv                test_49.jpg
test.txt                     test_5.jpg
test_1.jpg                   test_50.jpg
test_10.jpg                  test_51.jpg
test_11.jpg                  test_52.jpg
test_12.jpg                  test_53.jpg
test_13.jpg                  test_54.jpg
test_14.jpg                  test_55.jpg
test_15.jpg                  test_56.jpg
test_16.jpg                  test_57.jpg
test_17.jpg                  test_58.jpg
test_18.jpg                  test_59.jpg
test_19.jpg                  test_60.jpg
test_2.jpg                   test_61.jpg
test_20.jpg                  test_62.jpg
test_21.jpg                  test_63.jpg
test_22.jpg                  test_64.jpg
test_23.jpg                  test_65.jpg
test_24.jpg                  test_66.jpg
test_25.jpg                  test_67.jpg
test_26.jpg                  test_68.jpg
test_27.jpg                  test_69.jpg
test_28.jpg                  test_7.jpg
test_29.jpg                  test_70.jpg
test_3.jpg                   test_71.jpg
test_30.jpg                  test_72.jpg
test_31.jpg                  test_73.jpg
test_32.jpg                  test_74.jpg
test_33.jpg                  test_75.jpg
test_34.jpg                  test_76.jpg
test_35.jpg                  test_77.jpg
test_36.jpg                  test_78.jpg
test_37.jpg                  test_79.jpg
test_38.jpg                  test_8.jpg
test_39.jpg                  test_80.jpg
test_4.jpg                   test_9.jpg

In [17]:
#csv ->DB
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

In [18]:
cursor = db.cursor()

sql = """
    create table csv_to_db_test(
        product_no int unsigned not null auto_increment,
        title varchar(200) not null,
        description text,
        price int not null,
        writer varchar(50) not null,
        reg_date timestamp default now(),
        primary key(product_no)
    )
"""

cursor.execute(sql)
db.commit()
db.close()
print('테이블 생성 성공')

OperationalError: (1050, "Table 'csv_to_db_test' already exists")

In [12]:
import csv

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)
cursor = db.cursor()
f = open('db2csv.csv', 'r')
#csv_reader = csv.reader(f, delimiter='\t')
csv_reader = csv.reader(f, delimiter=',')
# 구분자를 주의합시다 ;;;

print(csv_reader)

<_csv.reader object at 0x7fcea023c660>

In [15]:
cnt = 0

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
        
    print(row)
    product_no = (row[0])
    title = (row[1])
    description = (row[2])
    price = (row[3])
    writer = (row[4])
    reg_date = (row[5])
    
    print(product_no, title, description, price, writer, reg_date)
    
    sql = """
        insert into csv_to_db_test (title, description, price, writer, reg_date) values (%s, %s, %s, %s, %s)
    """
    
    cursor.execute(sql, (title, description, price, writer, reg_date))
    
db.commit()

f.close()
db.close()

In [25]:
# 카톡 메시지 보내기
# 내 애플리케이션 - 카카오 로그인 활성화, 동의항목 설정, 플랫폼 web 설정
# 시크릿모드에서 
# https://localhost.com/oauth/authorize?client_id=${REST_API_KEY}&redirect_uri=${REDIRECT_URI}&response_type=code 
# 열기

In [1]:
import requests

url = "https://kauth.kakao.com/oauth/token"

data = {
    "grant_type": "authorization_code",
    "client_id": "",
    "redirect_uri": "https://localhost.com",
    "code": ""
    #아이디는 restAPI, 코드는 로그인하면 바뀌는 주소에있음
}

response = requests.post(url, data=data)

if response.status_code != 200:
    print("에러!!!")
else:
    tokens = response.json()
    print(tokens)

에러!!!

In [23]:
# python 폴더 안에 kakao_msg 폴더 생성 후 실행
import json
import datetime
import os

# Kakao Token 저장 파일
KAKAO_TOKEN_SAVED_FILE = "kakao_msg/kakao_token.json"

# 저장
def save_tokens(filename, tokens):
    with open(filename, "w") as fp:
        json.dump(tokens, fp)
        
# 읽기
def load_tokens(filename):
    with open(filename) as fp:
        tokens = json.load(fp)
        
    return tokens

# token 저장
save_tokens(KAKAO_TOKEN_SAVED_FILE, tokens)

In [24]:
tokens = load_tokens(KAKAO_TOKEN_SAVED_FILE)

url = "https://kapi.kakao.com/v2/api/talk/memo/default/send"

headers = {
    "Authorization": "Bearer " + tokens['access_token']
}

data = {
    "template_object": json.dumps({
        "object_type": "text",
        "text": "그만 보내!",
        "link": {
            "web_url": "https://www.naver.com"
        }
    })
}

response = requests.post(url, headers=headers, data=data)
print(response.status_code)

if response.status_code != 200:
    print("에러!")
else:
    print("카톡 메시지가 간드아!!!")

200
카톡 메시지가 간드아!!!